<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заполнения расписания</title>
    <script src="/static/scripts.js" defer></script>
</head>
<body>
    <main>
        <div class="container">
            <table id="tableforschedule">
                <caption>
                    Расписание
                </caption>
                <thead>
                    <tr>
                        <td><input type="text" name="monday" disabled>Понедельни</td>
                        <td><input type="text" name="tuesday" disabled>Вторник</td>
                        <td><input type="text" name="wednesday" disabled>Среда</td>
                        <td><input type="text" name="thursday" disabled>Четверг</td>
                        <td><input type="text" name="friday" disabled>Пятниица</td>
                        <td><input type="text" name="saturrday" disabled>Суббота</td>   
                        <td><input type="text" name="sunday" disabled>Воcкресенье</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for i in range(7) %}
                            <td><input type="text"></td>
                        {% endfor %}
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        {% for i in range(7) %}
                            <td><input type="text"></td>
                        {% endfor %}
                    </tr>
                </tfoot>
            </table>
        </div>
        <p><button id="add-button" onclick="addRow()">Добавить ряд</button> <button>Добавить расписание</button></p>
        </main>
</body>
</html>